html,
body {
    height: 100%;
    background-image: url("bkgd.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width: 100%;
    max-width: 600px;
    border: none;
    height: 50px;
    padding: 0 20px;
    font-size: 17px;
    border-radius: 10px;    
}

button {
    width: 100%;
    max-width: 600px;
    height: 50px;
    font-size: 14px;
    background: #222;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
}

.messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: none;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}